SECRET_KEY=django-insecure-dev-key-change-in-production
DEBUG=True
ALLOWED_HOSTS=*

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=restaurant_db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432
DATABASE_HOST=restaurante_db

LANGUAGE_CODE=es-pe
TIME_ZONE=America/Lima
USE_TZ=True

CORS_ORIGIN_ALLOW_ALL=True
CORS_ALLOW_CREDENTIALS=True
